/Installed Packages/
/Local/
/Packages/Anaconda/
/Packages/User/Package Control.cache/
/Packages/User/Package Control.last-run
/Packages/User/Package Control.ca-list
/Packages/User/Package Control.ca-bundle
/Packages/User/Package Control.system-ca-bundle
/Packages/User/Package Control.ca-certs
/Backup/
/Packages/LaTeXTools/
/Packages/Thesaurus/
/Cache/
/Index/
/Packages/User/Package Control.merged-ca-bundle
/Packages/User/Package Control.user-ca-bundle
/Packages/bz2/
/Packages/ssl-linux/
